.app-container {
  transition: opacity 0.8s ease-in-out;
}

.app-container.loaded {
  opacity: 1;
}

.path {
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
  perspective: 1000px; /* Activa la perspectiva para el efecto 3D */
}

/* --- Estilos Hero Section --- */
.player-name,
.hero-image {
  object-fit: contain;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-images-container {
  transform-style: preserve-3d; /* Permite que los hijos se posicionen en el espacio 3D */
}

.background-fix {
  position: relative;
  isolation: isolate;
}

.background-fix::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../../assets/player/1.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 13em;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  filter: drop-shadow(0 15px 20px rgba(156, 156, 156, 0.4));
}

/* --- Animaciones de Entrada --- */

/* Contenedor para la animación de revelado del texto */

.animate-name-reveal {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  animation: reveal-up 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Retraso para el apellido */
.name-reveal-wrapper:last-child .animate-name-reveal {
  animation-delay: 0.2s;
}

@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-image {
  opacity: 0;
  transform: scale(0.95);
  animation: scale-up-fade-in 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.hero-image-1 {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0em;
  width: 12rem; /* 192px */
  filter: grayscale(1) drop-shadow(0 15px 20px rgba(54, 54, 54, 0.4));
  animation-delay: 0.4s;
}

.hero-image-2 {
  position: absolute;
  z-index: 10;
  bottom: -5%;
  right: -10%;
  width: 15em;
  height: 15em;
  object-fit: contain;
  filter: grayscale(1) drop-shadow(0 15px 20px rgba(54, 54, 54, 0.4));
  animation-delay: 0.6s;
}

@media (min-width: 750px) {
  /* lg */
  .hero-image-1 {
    width: 20em;
    height: 25em;
    left: 0em;
  }
  .hero-image-2 {
    width: 20em;
    height: 28em;
    right: 0em;
  }

  .background-fix::before {
    background-position: center 1em;
  }
}
@media (min-width: 1250px) {
  /* lg */
  .hero-image-1 {
    width: 20em;
    height: 25em;
    left: 5em;
  }
  .hero-image-2 {
    width: 26em;
    height: 30em;
    right: 10em;
  }

  .background-fix::before {
    background-position: center 1em;
  }
}

@media (min-width: 1700px) {
  .background-fix::before {
    background-position: center 1em;
  }
  /* lg */
  .hero-image-1 {
    width: 25em;
    height: 40em;
    right: 65em;
  }
  .hero-image-2 {
    width: 35em;
    height: 35em;
    right: 10em;
  }
}

@keyframes scale-up-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
