@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

/* body {
  background: linear-gradient(to top,black, #21a348);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
} */
